- if can? :index, Club
  - if @maintenance == true
    - title = I18n.t('.clubs.clubs_title')
  - else
    - if params[:view] == "own"
      - title = I18n.t('.clubs.my_index_title')
    - elsif params[:view] == "latest"
      - title = I18n.t('.clubs.latest_index_title')
    - else
      - title = I18n.t('.clubs.all_index_title')

  = render "layouts/page_header", level1_title: nil, level1_path: nil, level2_title: title

  .row
    .small-12.columns
      = render "quick_filter"

  - if @maintenance == true
    - if can? :maintain, Club
      = render "maintenance"
  - else
    = render "all_clubs"
