- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    .row
      .small-8.small-centered.columns.login
        = link_to image_tag('twitter.png'), omniauth_authorize_path(resource_name, provider)