- if can? :index, User
  = render "layouts/page_header", level1_title: nil, level1_path: nil, level2_title: I18n.t('.users.vinks_index')

  .row
    .small-12.small-centered.columns.users
      - @users.each do |user|
        .panel.small-3.columns
          = link_to user.screen_name, user_path(user)
