- if can? :map, User
  - if current_user
    - title = I18n.t('.map.my_map')
  - else
    - title = "#{I18n.t('.map.map_visit')}: #{@user.screen_name}"

  = render "layouts/page_header", level1_title: nil, level1_path: nil, level2_title: title

.row
  .small-12.large-12.columns
    #map_canvas

:javascript
  google.load('visualization', '1', { 'packages': ['map'] });
  google.setOnLoadCallback(drawLocationsMap);

  function drawLocationsMap() {
    var data_locations = google.visualization.arrayToDataTable(#{@locations});

    var options = {
      height: 800,
      mapType: "normal",
      icons: {
        default: {
          normal: 'https://dl.dropboxusercontent.com/u/45762137/Football/football-icon.png',
          selected: 'https://dl.dropboxusercontent.com/u/45762137/Football/football-icon.png'
        }
      },
      showTip: true
    };

    new google.visualization.Map(document.getElementById('map_canvas')).draw(data_locations, options);
  }
