      %dd
        %a{href: "#panel6"} Will there any new features coming or is this everything there is?
        #panel6.content
          %p Vinked.it will be contineously developed and improved, but it is an one man spare time job, so please bear with me. What I have planned to add is:

          %ul
            %li Mini Frenzy: after this season I will not continu with The Old Spotted Dog Frenzy, because there is not enough interactivity there, but I have planned to reuse some of it and create a mini version here.
            %li Social network: I want to add lots of interactivity here. Now you can already comment on clubs and members, but I want to extend this to a more mature social network, where you can follow members you find interesting. It should also be possible to write about things you want to say about clubs or vinks.
            %li Earn points: when you achieve something, like you vinked a new country or completed a league you earn points.
            %li Future visits: show other members what vinks you have planned in the future.
            %li Much more....
      %dd
        %a{href: "#panel7"} Can I import vinks I have already registered?
        #panel7.content
          %p I have planned to add an import module. Till then I can import vinks from an Excel sheet for you. Here is a link to an example excel sheet. I f you fill this one with your vink data and email it to me at vinkedit@gmail.com, I can import it for you.

          = link_to "example_sheet", asset_path("example_file.xlsx")
