.splash
  .row
    .small-12.large-8.large-centered.columns
      .panel.dictionary
        .title Vinker
        .type (noun)
        .pronounciation Pronunciation: /ˈvinkə/
        .explanation A person who collects football grounds by visiting football matches.
  .row
    .small-12.large-8.large-centered.columns
      .panel.dictionary
        .title Vinked it
        .type (verb)
        .pronounciation Pronunciation: /vɪŋktit/
        .explanation When a vinker has visited a football match for at least 20 minutes at a new football ground.

  .row.feature
    .small-12.large-6.columns
      %p
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
        nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.
    .small-12.large-6.columns
      %p
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
        nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.
