.splash
  .row
    .small-12.large-6.columns
      .panel.dictionary
        .title Vinker
        .type (noun)
        .pronounciation Pronunciation: /ˈvinkə/
        .explanation A person who collects football grounds by visiting as many football matches as possible.
    .small-12.large-6.columns
      .panel.dictionary
        .title Vinked it
        .type (verb)
        .pronounciation Pronunciation: /vɪŋktit/
        .explanation When a vinker has visited a football match for at least 20 minutes at a new football ground.

  .row
    .small-6.large-6.columns.teaser
      .icon
        %i.fi-checkbox
      .text
        .title Store your visits
        .content
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit
    .small-6.large-6.columns.teaser
      .icon
        %i.fi-checkbox
      .text
        .title Store your visits
        .content
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit

  .row
    .small-6.large-6.columns.teaser
      .icon
        %i.fi-checkbox
      .text
        .title Store your visits
        .content
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit
    .small-6.large-6.columns.teaser
      .icon
        %i.fi-checkbox
      .text
        .title Store your visits
        .content
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit

  .row
    .small-12.large-3.large-centered.columns.register
      = link_to I18n.t(".devise.sessions.sign_up_now"), new_user_registration_path, class: "teaser_button"
