.top-bar {
  .title-area {
    .icon {
      margin-left: 10px;
    }
    i {
      line-height: 1.4;
    }
  }
}
i.large {
  font-size: 30px;
}
i.white {
  color: white;
}
#error_explanation {
  border: 2px solid red;
  padding: 5px;
  margin: 10px;
  background-color: #f9cfda;

  h2 {
    color: red;
    font-size: 14px;
  }
  ul > li {
    color: red;
    font-size: 12px;
  }
}
.alerts {
  .notice {
  }
}