@import "variables";

.top-bar {
  .title-area {
    .icon {
      margin-left: 10px;
    }
    i {
      line-height: 1.4;
    }
  }
}
i.large {
  font-size: 30px;
}
i.white {
  color: white;
}
i.grey {
  color: $border-color;
}
#error_explanation {
  border: 2px solid red;
  padding: 5px;
  margin: 10px;
  background-color: #f9cfda;

  h2 {
    color: red;
    font-size: 14px;
  }
  ul > li {
    color: red;
    font-size: 12px;
  }
}
.alerts {
  .notice {
  }
}
.login {
  margin-top: 150px;
}
.page-header {
  border-bottom: 2px solid $border-color;
  margin-bottom: 20px;

  .title {
    float: left;
    margin-left: 20px;

    i {
      margin-right: 20px;
    }
  }
  .breadcrumb {
    margin-left: 20px;

    li {
      float: left;
      list-style-type: none;
    }
    .divider {
      margin: 0 10px;
    }
  }
}
.form {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid $border-color;
}
table {
  width: 100%;
}
.clubs {
  .no_data {
    clear: both;
    align: left;
    text-align: center;
    padding: 10px;
  }
  .vinked {
    border: 1px solid $primary-color;
    background: $primary-color;
  }
  .not_vinked {
    background: #f2f2f2;
    border: 1px solid #d8d8d8;
  }
  .panel {
    display: inline-block;
    width: 100%;
    .vink, .club {
      float: left;
      color: #FFFFFF;
    }
    .vinkedits, .users {
      float: right;
      margin-left: 10px;
      padding: 10px 15px;
      color: #FFFFFF;
      background: lighten($primary-color, 10%);
    }
    .club {
      margin-left: 20px;
      margin-top: 7px;
      font-size: 125%;
    }
    .vink {
      font-size: 200%;
    }
  }
  .none {
    margin-top: 100px;
  }
}
