<p>Hallo <%= @resource.email %>!</p>

<p>Iemand heeft een verzoek ingediend om jouw wachtwoord voor Salves Personeel te wijzigen. Dit kun je doen door op onderstaande link te klikken.</p>

<p><%= link_to 'Wijig mijn wachtwoord', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Als je dit verzoek niet hebt gedaan, negeer dan deze email.</p>
<p>Jouw wachtwoord voor Salves Personeel zal niet worden gewijzigd totdat je zelf op bovenstaande link hebt geklikt en het wachtwoord hebt gewijzigd.</p>

<p>Groetjes,</p>
<p>Salves Administratie</p>
