.page-header
  .row
    .small-12.columns
      %ul.breadcrumbs
        %li
          = link_to I18n.t('.general.home'), root_path
        - if level1_title
          %li
            = link_to level1_title.downcase, level1_path
        - if level2_title
          %li.current= level2_title.downcase

  .row
    .small-12.columns
      %h2.title
        %i.fi-checkbox.large
        = level2_title
